*{
    margin: 0;
    padding: 0;

}
.izquierdo{
    background-color: white;
    float: left;
    width: 50%;
    height: 961px;
}
.derecha{
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsla(358, 89%, 72%, 0.603), hsla(42, 94%, 75%, 0.603), hsla(144, 100%, 89%, 0.603)), url("img/bank.jpg"); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment:fixed;
    position: relative;
    float: right;
    width: 50%;
    height: 961px;
    padding-top: 40px;
}
 #candado{
    margin-left: 310px;
    margin-right: 240px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 350px;

  }
  .texto-Bloqueado h1{
    font-size: 40px;
    font-weight: 700;
    width: 300px;
    text-align: center;
    margin-top: 50px;
    margin-left: 320px;
    
  }
  .texto-Bloqueado p{
    text-align: justify;
    font-size: 25px;
    font-weight: 400;
    margin: auto;
    width: 550px;
  }
  #footer{
    width: 700px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
  }
  .opciones{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 180px;
  }
  #usuario{
    width: 210px;
    height: 100px;
    text-align: center;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
  }
  #contraseña{
    width: 210px;
    height: 100px;
    text-align: center;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dee3ed;
    border-radius: 4px;
    width: 500px;
    margin: auto;
  }
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 3.5rem;
    margin-top: 170px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  input[type="text"], input[type="password"] {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gray;
  }
  #continuar {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3b22ab;
    color: white;
    width: 300px;
    border:none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
  }
  #regresar {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3b22ab;
    color: white;
    width: 300px;
    border:none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 40px;
  }