<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">        
        <title>Banca Web</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="favicon/x-icon" href="img/banco.png">
        <link rel="stylesheet" type="text/css" href="../../components/contacto/contacto.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/00c1360545.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">        
    </head>
    <body>
        <header>
                <section class="textos-header">
                    <h1>Tú dinero siempre disponible,</h1>
                    <h2>tú información siempre segura.</h2>
                </section>
                <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
                style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
                style="stroke: none; fill: #fff;"></path></svg></div>
        </header>
        <main>
                <section class="contenedor sobre-nosotros" id="about">
                    <h2 class="titulo">Dinos tus dudas</h2>
                    <div class="contenedor-sobre-nosotros">
                        <div class="formulario">
                            <img src="../../../assets/img/whatsapp_logo.original.jpg" alt="seguridad">
                        </div>
                        <div class="contenido-textos">
                            <h3>Contactanos a través de whatsapp</h3>
                            <p>0997766332211</p>
                        </div>
                    </div>
                </section>

                <section class="contenedor sobre-nosotros2" id="about">
                    <div class="contenedor-sobre-nosotros2">

                        <div class="contenido-textos2">
                            <h3>Acércate a nuestras oficinas</h3>
                            <p>Uno de nuestros correspondientes te atenderá de inmediato.</p>
                        </div>

                        <div class="formulario2">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7914421731625!2d-78.49118558524661!3d-0.21031059984655387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a107b70b7bd%3A0x54a537873ca87a03!2sFaculty%20of%20Systems%20Engineering!5e0!3m2!1sen!2sec!4v1670545717483!5m2!1sen!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        
                    </div>
                </section>

                
                <section class="portafolio" id="servicios">
                    <div class="contenedor">
                        <h2 class="titulo">Características de la cuenta</h2>
                        <div class="galeria-port">
                            <div class="feature">
                                <img src="../../../assets/img/transferencias.png" alt="transferencias">
                                <br>
                                <h3>Transfiere dinero</h3>
                                <p>Recibe tu sueldo, depósitos, transferencias y realiza pagos a terceros</p>
                            </div>
                            <div class="feature">
                                <img src="../../../assets/img/servicios.png" alt="servicios">
                                <br>
                                <h3>Paga Servicios</h3>
                                <p>Realiza pagos de tarjetas o pagos de +2500 servicios fácilmente</p>
                            </div>
                            <div class="feature">
                                <img src="../../../assets/img/control.png" alt="control">
                                <br>
                                <h3>Controla tus movimientos</h3>
                                <p>Revisa tu dinero en nuestra Banca móvil, Banca web o Deuna! en tiempo real</p>
                            </div>
                        </div>
                    </div>
                </section>
        </main>
        <footer id="footer">      
            <p>&copy; 2023 BANK, Quito, Ecuador. Todos los derechos Reservados</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>
