<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <ng-container *ngIf="!authAService.loggedInA(); else loggedInA">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/crearCliente']">Administracion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contacto']">Contactos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cuenta']">Cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/tasks']">Tareas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/private']">Tareas Privadas</a>
            </li>
          </ng-container>
          <ng-template #loggedInA>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cuentas']">Cuentas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cuenta']">Crear Cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/edicionclientes']">Editar Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/crearCliente']">Crear Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
            </li>
          </ng-template>
        </ul>
        <ul class="navbar-nav ml-auto">
          <ng-container *ngIf="!authAService.loggedInA(); else loggedIn">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/signin']">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/signup']">Registrarse</a>
            </li>
          </ng-container>
          <ng-template #loggedIn>
            <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" (click)="authAService.logOutA()">LogOut</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>
 <h2>Últimos 10 cuentas creados</h2>
 <ul>
  <li *ngFor="let cuenta of cuentas" class="cuenta">
    <h4>{{cuenta.numero}} - {{cuenta.nombre}} - {{cuenta.tipo}} - {{cuenta.saldo}} - {{cuenta.cliente}} - {{cuenta.estado}}</h4>
  </li>
</ul>  

<h2>Busqueda por numero de cédula de cliente</h2> 
<!-- add a search form to retrieve a single client by ID -->
<form>
  <input type="text" [(ngModel)]="cliente" name="cliente" placeholder="Cédula del cliente">
  <button type="button" (click)="buscarCuenta()">Buscar</button>
</form>

<!-- display the details of the searched client -->
<div *ngIf="cuentaBuscada && cuenta._id">
  <h2>Detalles de la cuenta buscada</h2>
  <table style="border: 1px solid black;">
    <tr>
      <th style="border: 1px solid black;">Numero</th>
      <td style="border: 1px solid black;">{{cuenta.numero}}</td>
    </tr>
    <tr>
      <th style="border: 1px solid black;">Nombre</th>
      <td style="border: 1px solid black;">
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="cuenta.nombre" required [disabled]="!editMode">
      </td>
    </tr>
    <tr>
      <th style="border: 1px solid black;">Tipo</th>
      <td style="border: 1px solid black;">
        <input type="text" name="tipo" #tipo="ngModel" [(ngModel)]="cuenta.tipo" required [disabled]="!editMode">
      </td>
    </tr>
    <tr>
      <th style="border: 1px solid black;">Saldo</th>
      <td style="border: 1px solid black;">{{cuenta.saldo}}</td>
    </tr>
    <tr>
        <th style="border: 1px solid black;">Cliente</th>
        <td style="border: 1px solid black;">{{cuenta.cliente}}</td>
    </tr>
    <tr>
        <th style="border: 1px solid black;">Estado</th>
        <td style="border: 1px solid black;">{{cuenta.estado}}</td>
    </tr>
        <tr>
      <th style="border: 1px solid black;">Limite Diario</th>
      <td style="border: 1px solid black;">
        <input type="number" name="limiteDiario" #limiteDiario="ngModel" [(ngModel)]="cuenta.limiteDiario" required [disabled]="!editMode">
      </td>
    </tr>
    </table>
<button *ngIf="!editMode" (click)="enableEditMode()">Editar</button>
<button *ngIf="editMode" (click)="guardarCambios()">Guardar</button>
<button type="button" (click)="borrarCuenta(cuenta._id)">Borrar</button> 

  
</div>