<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">        
        <title>Banca Web</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="favicon/x-icon" href="img/banco.png">
        <link rel="stylesheet" type="text/css" href="../../components/home/home.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/00c1360545.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">        
    </head>
    <body>
        
        <header>
                <section class="textos-header">
                    <h1>Tú dinero siempre disponible,</h1>
                    <h2>tú información siempre segura.</h2>
                </section>
                <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
                style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
                style="stroke: none; fill: #fff;"></path></svg></div>
        </header>
        <main>
                <section class="contenedor sobre-nosotros" id="about">
                    <h2 class="titulo">Crea tu cuenta</h2>
                    <div class="contenedor-sobre-nosotros">
                        <div class="formulario">
                            <img src="../../../assets/img/Safe-Money.jpg" alt="seguridad">
                        </div>
                        <div class="contenido-textos">
                            <h3>Abre tu cuenta de ahorros digital</h3>
                            <p>Guarda tu dinero de manera segura y utilízalo cuando lo necesites para realizar transferencias o pagos.</p>
                        </div>
                    </div>
                </section>

                <section class="contenedor sobre-nosotros2" id="about">
                    <div class="contenedor-sobre-nosotros2">

                        <div class="contenido-textos2">
                            <h3>Realiza tus transacciones de manera segura</h3>
                            <p>Envia y recibe dinero con la seguridad y confianza de los mejores bancos del pais.</p>
                        </div>

                        <div class="formulario2">
                            <img src="../../../assets/img/Transacciones-Contables-5.jpg" alt="seguridad">
                        </div>
                        
                    </div>
                </section>

                
                <section class="portafolio" id="servicios">
                    <div class="contenedor">
                        <h2 class="titulo">Características de la cuenta</h2>
                        <div class="galeria-port">
                            <div class="feature">
                                <img src="../../../assets/img/transferencias.png" alt="transferencias">
                                <br>
                                <h3>Transfiere dinero</h3>
                                <p>Recibe tu sueldo, depósitos, transferencias y realiza pagos a terceros</p>
                            </div>
                            <div class="feature">
                                <img src="../../../assets/img/servicios.png" alt="servicios">
                                <br>
                                <h3>Paga Servicios</h3>
                                <p>Realiza pagos de tarjetas o pagos de +2500 servicios fácilmente</p>
                            </div>
                            <div class="feature">
                                <img src="../../../assets/img/control.png" alt="control">
                                <br>
                                <h3>Controla tus movimientos</h3>
                                <p>Revisa tu dinero en nuestra Banca móvil, Banca web o Deuna! en tiempo real</p>
                            </div>
                        </div>
                    </div>
                </section>
        </main>
        <footer id="footer">      
            <p>&copy; 2023 BANK, Quito, Ecuador. Todos los derechos Reservados</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>
