<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Iniciar Sesión
            </div>
            <div class="card-body">
                <form (submit)="signIn(); buscarUser();">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.usuario" id="usuario" name="usuario" class="form-control" placeholder="Usuario" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required >
                    </div>
                    <button class="btn btn-primary btn-block">
                        Sign In
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
